@import '../../index.sass'
    
.sidenav
    text-align: right
    height: 70px
    line-height: 50px
    z-index: 10
    display: flex
    position: fixed
    top: 0
    width: 100%
    background-color: $color1


    &__menu
        margin-left: 30px
        background-color: $color1
        display: flex
        flex-direction: row
        div
            color: $color4
            margin: 0
            vertical-align: middle
            display: flex
            justify-content: center
            align-items: center
            p
                margin: 0
    a
        clear: right
        text-decoration: none
        color: $color4
        margin: 0 10px
        line-height: 70px

    label
        margin: 0 40px 0 0
        font-size: 26px
        line-height: 70px
        position: absolute
        display: none
        width: 26px
        float: right
    #toggle
        display: none
    

@media only screen and (max-width: 750px)
    .sidenav
        width: 100%
        position: fixed
        label
            display: block
            cursor: pointer
        &__menu
            text-align: center
            width: 100%
            display: none
            background-color: #dfe2e2
        a
            display: block
            border-bottom: 1px solid #EAEAEB
            background-color: #dfe2e2
            margin: 0
            color: black
        #toggle:checked + .sidenav__menu
            display: block